@using ProjectCCS.Models
@{ 
    ContextDB con = new ContextDB();
    var user = Request.Cookies["user"] == null ? "0" : Request.Cookies["user"].Value.ToString(); 
    var value = con.ShoppingCarts.Where(p => p.Email.Equals(user)).ToList().Count;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/app/dist/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/app/dist/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/app/dist/css/style.css">

</head>
<body>
    <header class="flex jc-c ai-c">
        <nav class="container flex jc-sb ai-c">
            <a href="/" class="logo"><img style="width: 160px; height:100px" src="~/app/img/LogoCCM2.png" /></a>
            <a id="btnToggle" href="#" class="toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <ul class="menu flex jc-sb ai-c hide-for-mobile">
                @using (Html.BeginForm("Find", "Home", FormMethod.Post))
                {
                    <li class="searchBox">
                        <input placeholder="Nhập từ khóa cần tìm" name="txtKeyWord" type="text">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </li>
                }
                <li class="acv"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("ListProduct","Home")">Sản phẩm</a></li>
                <li><a href="@Url.Action("NewFeeds","Home")">Bảng tin</a></li>
                <li><a href="@Url.Action("UserDashBoard","Home")">Tài khoản</a></li>
            </ul>
            <div class="status hide-for-mobile">
                @if (Request.Cookies["user"] != null)
                {
                    <a href="@Url.Action("Logout","Home")" id="Userlogout"><i class="fa fa-sign-out-alt"></i>Đăng xuất</a>
                }
                else
                {
                    <a href="@Url.Action("Login","Home")" id="Userlogin"><i class="fa fa-user-circle" aria-hidden="true"></i>Đăng nhập</a>
                }


                <a href="@Url.Action("ShoppingCart","Home")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Giỏ hàng<span class="number">@value</span></a>
            </div>
            <div class="sub-menu hide-for-desktop">
                <ul class="menu flex jc-sb ai-c">
                    <li class="acv"><a href="#">Trang chủ</a></li>
                    <li><a href="@Url.Action("ListProduct","Home")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("BuildPC","Home")">Build PC</a></li>
                    <li><a href="@Url.Action("NewFeeds","Home")">Bảng tin</a></li>
                    <li><a href="@Url.Action("UserDashBoard","Home")">Tài khoản</a></li>
                    <li class="searchBox"><input placeholder="Nhập từ khóa cần tìm" name="txtKeyWord" type="text"><button><i class="fa fa-search" aria-hidden="true"></i></button></li>
                </ul>
                <div class="status">
                    @if (Request.Cookies["user"] != null)
                    {
                        <a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out-alt"></i>Đăng xuất</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Home")"><i class="fa fa-user-circle" aria-hidden="true"></i>Đăng nhập</a>
                    }
                    <a href="@Url.Action("ShoppingCart","Home")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Giỏ hàng <span class="number">@value</span></a>
                </div>
            </div>
        </nav>
    </header>

    <a href="https://zalo.me/0935268359" target="_blank" rel="noopener" class="zalo-chat">
        <img src="https://cdn2.cellphones.com.vn/x/media/icons/icon-zalo.png" alt="Zalo Button">
    </a>

    <a href="https://m.me/102452459355964" target="_blank" rel="noreferrer" data-content-region-name="quickAction" data-track-content="true" data-content-name="fbMessengerIcon" class="css-1vv2dga">
        <img class="fb-chat-full" src="https://shopfront-cdn.tekoapis.com/static/3ad4c9a97ab98ff3.png" alt="fb-chat">
    </a>



    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="content">
                <div class="top">
                    <div class="logo-details">
                        <img style="width: 300px; height:100px" src="~/app/img/LogoCCM2.png" />
                    </div>
                    <div class="media-icons">
                        <a href="https://www.facebook.com/profile.php?id=100087360263540"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/gnouccouq/WebBanLinhKien"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="link-boxes">
                    <ul class="box">
                        <li class="link_name">Thông tin CCM</li>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Về chúng tôi</a></li>
                    </ul>
                    <ul class="box">
                        <li class="link_name">Liên hệ</li>
                        <li><a href="#">App design</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo design</a></li>
                        <li><a href="#">Banner design</a></li>
                    </ul>
                    <ul class="box">
                        <li class="link_name">Tài khoản</li>
                        <li><a href="@Url.Action("UserDashBoard","Home")">Thông tin</a></li>
                        <li><a href="@Url.Action("UserDashBoard","Home")">Tài khoản của bạn</a></li>
                        <li><a href="#">Prefrences</a></li>
                        <li><a href="@Url.Action("HistoryCart","Home")">Lịch sử mua hàng</a></li>
                    </ul>
                    <ul class="box input-box">
                        <li class="link_name">Địa chỉ</li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1250520425215!2d106.71230301397601!3d10.801733161681753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2sHutech%20University!5e0!3m2!1sen!2s!4v1616234485593!5m2!1sen!2s" width="300" height="150" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                    </ul>
                </div>
            </div>
            <div class="bottom-details">
                <div class="bottom_text">
                    <span class="copyright_text">
                        © 2021 - 2022 Công Ty Cổ Phần Thương Mại - Dịch Vụ
                        <a href="#">CCM Technology</a>
                        <li>Giấy chứng nhận đăng ký doanh nghiệp: 0935268359 do Sở KH-ĐT TP.HCM cấp lần đầu ngày 14 tháng 11 năm 2022</li>
                    </span>

                    <span class="policy_terms">
                        <a href="#">Privacy policy</a>
                        <a href="#">Terms & condition</a>
                    </span>
                </div>
            </div>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            autoplay: true,
            slideTransition: "all 0.5s",
            autoplayTimeout: 3000,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
