

@model ProjectCCS.Models.Product


@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="detail-product flex container">
    <div class="left-side">
        <!-- Contain img product 25%-->
       
        <img src="@Html.DisplayFor(model => model.image)" alt="">
    </div>
    <div class="right-side">
        <!-- Contains cart, price, quantily 75% -->
        <h3 class="product-name"> @Html.DisplayFor(model => model.name)</h3>
        <p class="product-price">
            @Html.DisplayFor(model => model.price) <sup>đ</sup>
        </p>
            <form action="">
                <div class="quan">
                    <label for="">Số lượng:</label>
                    <input value="1" type="number" name="numb" step="1" min="1" oninput="validity.valid||(value='');">

                </div>

                <div class="item__content__hover">
                    <a href="@Url.Action("AddToCart", "Home", new { id = Model.id,@strURL=Request.Url.ToString() })" class="cart btn-detail"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ</a>
                    
                </div>
               
            </form>
            <p class="product-description">
                @Html.DisplayFor(model => model.descriptions)
            </p>

    </div>
</section>

@Html.Partial("~/Views/Shared/_HotProduct.cshtml")