@using System.Globalization

@model PagedList.IPagedList<ProjectCCS.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Trang Chủ";
    var cat = ViewBag.categories as IEnumerable<ProjectCCS.Models.Category>;
}

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="~/app/img/slider1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="~/app/img/slider2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="~/app/img/slider3.jpg" style="width:100%">
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<section class="banner  flex jc-c ai-c container">
    <div class="banner__text">
        <h2 class="title">CCM Technology</h2>
        <h2 class="title">Website bán Laptop và linh kiện điện tử hàng đầu Việt Nam</h2>
        <p><i class="fa fa-quote-left" aria-hidden="true"></i>Bạn có thể tự thiết kệ một chiếc PC dành riêng cho bạn.<i class="fa fa-quote-right" aria-hidden="true"></i> <span class="author">Công Cường Minh</span></p>
        22
    </div>
    <div class="banner__img"></div>
</section>

<!-- Services -->
<section class="services container mt-5">
    <h1 class="main_title">CAM KẾT DỊCH VỤ</h1>
    <div class="services__items flex jc-sa ai-c mt-3">
        <div class="services__item">
            <div class="item-content">
                Giao hàng tận nơi
            </div>
            <img src="~/app/img/Giaohang.jpg" alt="">
            <div class="item-detail">
                Chúng tôi sẽ giao hàng ở mọi nơi. Dù bạn có ở trong ngỏ hay trong hẻm!
            </div>
        </div>
        <div class="services__item">
            <img src="~/app/img/tannoi.jpg" alt="">
            <div class="item-content">
                Giao đúng sản phẩm, đúng hẹn
            </div>
            <div class="item-detail">
                Chỉ cần chọn mốc giờ khi đặt hàng, cam kết giao đúng sản phẩm, đúng hẹn.
            </div>
        </div>
        <div class="services__item">
            <div class="item-content">
                Sự hài lòng
            </div>
            <img src="~/app/img/hailong.jpg" alt="">
            <div class="item-detail">
                Sự hài lòng của bạn là niềm vui và giúp chúng tôi không ngừng phát triển để tạo sự uy tín cho khách hàng.
            </div>
        </div>
    </div>
</section>
@Html.Partial("~/Views/Shared/_HotProduct.cshtml")

<section class="products container mt-5">
    <h1 class="main_title">SẢN PHẨM BÁN CHẠY <i class="fa fa-fire" style="color: red;"></i></h1>
    <div class="services__items flex jc-sa ai-c mt-3">
        <!-- Contains products 75% -->
        <div class="owl-carousel owl-theme mt-3">
            @foreach (var product in (IEnumerable<ProjectCCS.Models.Product>)Model)
            {
                <div class="item-product">
                    <div class="item__content">
                        <img src="@product.image" alt="">
                        
                    </div>
                    <div class="item-product__details">
                        <a href="@Url.Action("detailProduct","Home", new { id = product.id })" class="detail btn-detail-text">@product.name</a>
                        <span>@String.Format(CultureInfo.CurrentCulture, "{0:C0}", product.price)</span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class=" clearfix"></div>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>