@model ProjectCCS.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="content">
        <section class="login-main">
            <div class="box">
                <h2 class="box__title">Đăng nhập</h2>
                <div class="box__body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken();
                        <div style="color:red" id="Message">@ViewBag.Message</div>
                        @Html.LabelFor(m => m.Email)
                        @Html.EditorFor(m => m.Email, new { placeholder = "Vui lòng nhập địa chỉ E-mail" })
                        @Html.ValidationMessageFor(m => m.Email)

                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { type = "password", placeholder = "Vui lòng nhập mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password)
                        <input class="button" type="submit" id="login" value="Đăng nhập">
                        <a href="@Url.Action("Register", "Home")">Bạn chưa có tài khoản?</a>
                        <tr>Hoặc</tr>
                        <a href="@Url.Action("ForgotPassword", "Home")">Quên mật khẩu</a>
                    }
                </div>
            </div>
        </section>
    </section>

