@model ProjectCCS.Model.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dangky container">
    <table align="center">
        <h4 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-top:20px">ĐẶT LẠI MẬT KHẨU</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr style="height: 40px; margin-top: 20px">
                <td>Mật khẩu mới</td>
                <td>
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr style="height:40px">
                <td>Xác nhận mật khẩu</td>
                <td>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr style="height:40px;">
                <td></td>
                <td>
                    @Html.HiddenFor(a => a.ResetCode)
                    <input type="submit" value="Đồng ý" class="button" />
                </td>
            </tr>
        }
    </table>
</div>
<style>
    .dangky {
        margin-top: 100px;
        border: 2px solid #5a88ca;
        width: 700px;
        border-radius: 10px;
        height: 240px;
        margin-bottom: 170px;
    }
</style>

